<!DOCTYPE html>
<html>

<body>
    <h1>Email Verification</h1>
    <p>Dear {{name}},</p>
    <p>Please verify your email by clicking the link below:</p>
    <a href="{{verificationUrl}}">Verify Email</a>
</body>

</html>